@charset "UTF-8";

:root{
    --cor0: #F5DE83;
    --cor1: #F2B84B;
    --cor2: #D95E32;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F5DE83;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #F2B84B;
    padding: 10px;
    color:  white;
    border-radius: 0px 0px 5px 5px;
    
}

nav{
    text-align: center;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
}

nav > a:hover{
    background-color: #F5DE83;
    padding: 10px;
    margin: 0px 0px 10px 10px;
    color: #D95E32;
    border-radius: 10px;
    text-decoration: underline;
}

h1{
    font-weight: bolder;
    margin: 10px;
}

p#cabecalho{
    font-weight: bold;
    
}

header > h1,p{
 text-align: center;
 
}

main{
    background-color: white;
    width: 700px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.432);
    margin-bottom: 10px;
}

h2{
    color: #F2B84B;
}

p.texto{
    text-align: justify;
    line-height: 20px;
    text-indent: 10px;
}

p.texto1{
    text-align: justify;
    line-height: 20px;
    text-indent: 10px;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: #D95E32;
}

ul,li{
    margin: 10px;
}

section{
    background-color: #F2B84B;
    padding: 10px;
    border-radius: 10px;
    margin-top: 7px;
}

h2#secao1{
    color: #D95E32;
    background-color:#F5DE83;
    margin: -10px -10px 0px -10px ;
    border-radius: 5px 5px 0px 0px ;
    padding: 5px;
}

footer{
    background-color: #F2B84B;
    width: 600px;
    margin: auto;
    padding: 7px;
    border-radius: 10px;
}

footer > p {
    color: black;
    font-weight: bold;
}

@media only screen and (min-width:639px ) and (max-width: 739px){
    main{
         width: 600px;
    }
}

@media only screen and (min-width:539px ) and (max-width: 639px){
    main{
         width: 500px;
    }

    footer{
        width:500px ;
    }
}

@media only screen and (min-width:439px ) and (max-width: 539px){
    main{
        width: 400px;
    }

    footer{
        width: 450px;
    }
}

@media only screen and (min-width:320px ) and (max-width: 450px){
    main{
        width: 250px;
    }

    footer{
        width: 250px;
    }
}









